# 빌드 결과물 (Gradle 기준)
/build/
/.gradle/
/out/

# 로그 파일
*.log

# 중요 환경변수
application-secret.yml
application-prod.yml

application-secret.yaml
application-prod.yaml

# 환경 변수 (API 키 등)
.env
.env.local
.env.production

# ChromaDB 데이터 폴더 제외
chroma_db/